<h1>Sign Up Below</h1>

{% for message in messages %}
<h5 style="color: red">{{message}}</h5>
{% endfor %}

<form method="POST" action="register">
  {% csrf_token %}
  <p>Username:</p>
  <input type="text" name="username" id="username" />
  <p>Email:</p>
  <input type="email" name="email" id="email" />
  <p>Password</p>
  <input type="password" name="password" id="password" />
  <p>Repeat Password</p>
  <input type="password" name="password2" id="repeat-password" />
  <input type="submit" value="submit" />
</form>
